<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logging/logback/base.xml"/>
    <springProperty scope="context" name="springApplicationName" source="spring.application.name"/>
    <springProperty scope="context" name="springLogstashNodes" source="custom.logging.logstash.nodes"/>
    <!-- 配置日志文件路径 -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${springLogstashNodes}</destination>
        <!-- encoder is required -->
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
                {"app_name":"${springApplicationName}"}
            </customFields>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>